<h1>Welcome to the longest word-game !</h1>
<p>Here is your grid :</p>
<p><strong>Grid : </strong><%= @grid.join(" ") %></p>
<br>
<form action="score">
  <label for="results">What's your best shot ?"</label>
  <input type="text" name="results">
  <input type="hidden" name="star_time" value='<%= @star_time %>'>
  <input type="hidden" name="grid" value='<%= @grid %>'>
  <input type="submit">
</form>
